<link rel="shortcut icon" href="{{ '/assets/icons/favicon.ico' | prepend: relative_urlh }}">

<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/icons/android/android-chrome-192x192.png' | prepend: absolute_url }}">

<link rel="apple-touch-icon" href="{{ '/assets/icons/apple/apple-touch-icon.png' | prepend: absolute_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/icons/apple/apple-touch-icon-72x72.png' | prepend: absolute_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/icons/apple/apple-touch-icon-114x114.png' | prepend: absolute_url }}">

<meta name="msapplication-square70x70logo" content="{{ '/assets/icons/windows/smalltile.png' | prepend: absolute_url }}">
<meta name="msapplication-square150x150logo" content="{{ '/assets/icons/windows/mediumtile.png' | prepend: absolute_url }}">
<meta name="msapplication-wide310x150logo" content="{{ '/assets/icons/windows/widetile.png' | prepend: absolute_url }}">
<meta name="msapplication-square310x310logo" content="{{ '/assets/icons/windows/largetile.png' | prepend: absolute_url }}">
