---
layout: default
type: list
---

<div class="page-header">
  <h1>Posts</h1>
</div>

<div id="pagination-top">
  {% include pagination.html %}
</div>

{% if paginator.posts %}
  {% for post in paginator.posts %}
    <article class="post post-excerpt" itemscope itemtype="http://schema.org/BlogPosting">
      {% if post.highlight %}
        <img src="{{ post.highlight | prepend: site.baseurl }}">
      {% endif %}

      <div class="page-header" itemprop="name headline">
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      </div>

      <div class="date">
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      </div>

      <div class="content" itemprop="articleBody">
        {{ post.excerpt | strip_html}}
      </div>

      <p class="post-more">
        <a href="{{ post.url | prepend: site.baseurl }}">Read more &raquo;</a>
      </p>
    </article>
  {% endfor %}
{% else %}
  <p>No posts found.</p>
{% endif %}

<div id="pagination-bottom">
  {% include pagination.html %}
</div>
