---
layout: default
type: list
---

<div class="page-header">
  <h1>Posts</h1>
</div>

<div id="pagination-top">
  {% include pagination.html %}
</div>

{% if paginator.posts %}
  <div class="articles">
    {% for post in paginator.posts %}
      <article class="post post-excerpt clearfix" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-body col-md-10 col-md-offset-1">
          <div class="post-header" itemprop="name headline">
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          </div>

          <div class="date">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
          </div>

          {% if post.highlight %}
            <div class="post-image">
              <img src="{{ post.highlight | prepend: site.baseurl }}">
            </div>
          {% endif %}

          <div class="content" itemprop="articleBody">
            {{ post.excerpt}}
          </div>

          <p class="post-more">
            <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          </p>
        </div>
      </article>
    {% endfor %}
  </div>
{% else %}
  <p>No posts found.</p>
{% endif %}

<div id="pagination-bottom">
  {% include pagination.html %}
</div>
