---
title: Portfolio
permalink: /portfolio/
type: portfolio
---

<div class="jumbotron">
  <div class="container">
    <h1>Case Studies</h1>

    <p>
      If you’re seeing this page, hopefully it’s because I’ve sent you this link. Most of the work here is confidential and I would appreciate your discretion when sharing.
    </p>
  </div>
</div>

<ul class="nav nav-tabs" id="portfolioTabs">
  {% for portfolio in site.portfolio %}
    <li role="presentation"{% if forloop.first == true %} class="active"{% endif %}>
      <a href="#{{ portfolio.title | slugify }}" aria-controls="{{ portfolio.title | slugify }}" role="tab" data-toggle="tab">
        {{ portfolio.title }}
      </a>
    </li>
  {% endfor %}
</ul>

<div class="tab-content">
  {% for portfolio in site.portfolio %}
    <div role="tabpanel" class="tab-pane{% if forloop.first == true %} active{% endif %}" id="{{ portfolio.title | slugify }}">
      {{ portfolio.content }}
    </div>
  {% endfor %}
</div>
