<form action="https://getform.org/f/9189106d-4f08-4ebc-b9f1-61727008ebc7" method="POST">
  <div class="form-group">
    <label for="contactName">What's your name?</label>
    <input class="form-control" name="name" id="contactName" placeholder="type your name here..." required>
  </div>

  <div class="form-group">
    <label for="contactEmail">What's your email address?</label>
    <input type="email" class="form-control" name="email" id="contactEmail" placeholder="type your email address here..." required>
  </div>

  <div class="form-group">
    <label for="contactMessage">What would you like to say?</label>
    <textarea class="form-control"  name="message" id="contactMessage" rows="3" placeholder="type some stuff in here." required></textarea>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

https://dfreerksen.github.io/thanks
