<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 column-email">
        <p class="column-title">Shoot me an email</p>

        <p class="column-subtitle">
          <a href="mailto:{{ site.email }}" class="text-large">{{ site.email }}</a>
        </p>
      </div>

      <div class="col-sm-6 col-md-offset-1 column-social">
        <p class="column-title">Thanks for visiting.</p>

        <p class="column-subtitle">More work, thoughts, <span class="amp">&amp;</span> random stuff at:</p>

        <p class="social">
          {% if site.social.dribbble %}
          <a class="dribbble" href="https://dribbble.com/{{ site.social.dribbble }}" target="_blank" title="Like me on Dribbble">Dribbble</a>,
          {% endif %}

          {% if site.social.facebook %}
          <a class="facebook" href="https://facebook.com/{{ site.social.facebook }}" target="_blank" title="Like me on Facebook">Facebook</a>,
          {% endif %}

          {% if site.social.github %}
          <a class="github" href="https://github.com/{{ site.social.github }}" target="_blank" title="Fork me on Github"></i>Github</a>,
          {% endif %}

          {% if site.social.instagram %}
          <a class="instagram" href="http://instagram.com/{{ site.social.instagram }}" target="_blank" title="Like me on Instagram">Instagram</a>,
          {% endif %}

          {% if site.social.linkedin %}
          <a class="linkedin" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank" title="Connect on Linkedin">Linkedin</a>,
          {% endif %}

          {% if site.social.twitter %}
          <span class="amp">&amp;</span> <a class="twitter" href="https://twitter.com/{{ site.social.twitter }}" target="_blank" title="Follow me on Twitter">Twitter</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</footer>
