<div id="footer">
  <div class="container">
    <ul class="list-inline social">
      {% if site.social.twitter %}
      <li>
        <a class="twitter" href="https://twitter.com/{{ site.social.twitter }}" target="_blank" title="Follow me on Twitter">Twitter</a>
      </li>
      {% endif %}

      {% if site.social.dribbble %}
      <li>
        <a class="dribbble" href="https://dribbble.com/{{ site.social.dribbble }}" target="_blank" title="Like me on Dribbble">Dribbble</a>
      </li>
      {% endif %}

      {% if site.social.facebook %}
      <li>
        <a class="facebook" href="https://facebook.com/{{ site.social.facebook }}" target="_blank" title="Like me on Facebook">Facebook</a>
      </li>
      {% endif %}

      {% if site.social.instagram %}
      <li>
        <a class="instagram" href="http://instagram.com/{{ site.social.instagram }}" target="_blank" title="Like me on Instagram">Instagram</a>
      </li>
      {% endif %}

      {% if site.social.github %}
      <li>
        <a class="github" href="https://github.com/{{ site.social.github }}" target="_blank" title="Fork me on Github"></i>Github</a>
      </li>
      {% endif %}

      {% if site.social.linkedin %}
      <li>
        <a class="linkedin" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank" title="Connect on Linkedin">Linkedin</a>
      </li>
      {% endif %}
    </ul>

    <p>
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}
    </p>
  </div>
</div>
