/* ARTICLES
-------------------------------------------------- */
.articles {
  article  {
    .post-body {
      border-bottom: 1px solid $page-header-border-color;
    }

    &:last-child {
      .post-body {
        border-bottom: 0 none;
      }
    }
  }
}


/* ARTICLE
-------------------------------------------------- */
article {
  &.post {
    padding: 50px 0 0;
  }

  &.post-excerpt { }

  &.post-full { }

  .post-body {
    padding: 0 0 50px;
  }

  .blog {
    margin-top: 15px;
  }

  .post-header {
    color: $gray;

    a {
      color: $gray;

      &:hover,
      &:focus {
        color: darken($gray, 10%);
      }
    }
  }

  .date {
    font-family: $font-family-pt-serif;
    margin: 15px 0;
    color: $gray-light;
  }

  .meta {
    display: none;

    .author { }
  }

  .content {
    font-family: $font-family-pt-serif;
    margin: 15px 0;
  }

  .post-more {
    margin-top: 15px;
  }
}
