/* ARTICLES
-------------------------------------------------- */
article {
  &.post { }

  &.post-excerpt { }

  &.post-full { }

  .blog {
    margin-top: 15px;
  }

  .page-header { }

  .date {
    margin: 15px 0;
    color: $gray-light;
  }

  .content { }
}
