// Custom Variables
// --------------------------------------------------

$mustard:           #e5d437 !default;
$banana:            #f7e53b !default;
$logo-z-index:      $zindex-modal + 1 !default;
$hamburger-z-index: $zindex-modal - 1 !default;
