/* FOOTER
-------------------------------------------------- */
#footer {
  margin-top: 100px;
  background-color: $gray-lighter;
  padding: 50px 0;
  color: $gray-darker;
  @include box-shadow(inset 0px 5px 10px -6px rgba(0,0,0,.75));

  .column-email {
    @media (min-width: $screen-sm) {
      border-right: 2px solid $gray-dark;
    }
  }

  .column-social { }

  .column-title { }

  .column-subtitle {
    color: $gray-dark;
  }
}
