/* HEADER
-------------------------------------------------- */
#header {
  .navbar-brand {
    padding: 0;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    @include square(110px);
    z-index: $logo-z-index;
    @include transition(all .2s ease-in-out);

    @media (min-width: $screen-md) {
      @include square(150px);
    }
  }
}

.jumbo-header {
  text-align: center;
  padding: 120px 0 30px;
  @include transition(all .2s ease-in-out);

  @media (min-width: $screen-md) {
    padding: 190px 0 100px;
  }
}


/* HAMBURGER
-------------------------------------------------- */
.navbar-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  margin: 0;
  display: block;
  background-color: $mustard;
  border-radius: 50%;
  padding: 12px 7px;
  z-index: $hamburger-z-index;
  @include transition(all .2s ease-in-out);

  &:hover,
  &:focus {
    background-color: $banana;
  }

  .icon-bar {
    background-color: $gray-base;
    @include size(24px, 2px);
  }
}


/* MENU MODAL
-------------------------------------------------- */
.fullscreen {
  .modal-dialog {
    margin: 0;
    @include square(100%);
    min-height: 100%;
    padding: 0;
  }

  .modal-content {
    overflow: auto;
    height: 100%;
    min-height: 100%;
    border-radius: 0;
    border: none;
    background: $mustard;
    background: -moz-linear-gradient(-45deg, $mustard 0%, $mustard 50%, $banana 50%, $banana 100%);
    background: -webkit-linear-gradient(-45deg, $mustard 0%,$mustard 50%,$banana 50%,$banana 100%);
    background: linear-gradient(135deg, $mustard 0%,$mustard 50%,$banana 50%,$banana 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mustard', endColorstr='$banana',GradientType=1 );
  }

  .modal-body {
    padding-top: 85px;
    @include transition(all .2s ease-in-out);

    @media (min-width: $screen-md) {
      padding-top: 120px;

    }

    ul { }

    li {
      padding: 4px 0;

      @media (min-width: $screen-md) {
        padding: 10px 0;
      }
    }

    a {
      font-size: 200%;

      @media (min-width: $screen-md) {
        font-size: 250%;
      }
    }
  }
}
