/* HEADER
-------------------------------------------------- */
#header {
  .navbar-brand {
    padding: 0;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    @include square(110px);
    z-index: 4;
    @include transition(all .2s ease-in-out);

    @media (min-width: $screen-md) {
      @include square(150px);
    }
  }
}

.jumbo-header {
  text-align: center;
  padding: 120px 0 30px;
  @include transition(all .2s ease-in-out);
  margin-bottom: 0;

  @media (min-width: $screen-md) {
    padding: 190px 0 100px;
  }

  &.hero-home,
  &.hero-error {
    background-position: center center;
    background-size: cover;
  }

  &.hero-home {
    background-image: url(../images/hero/home.png);
  }

  &.hero-error {
    background-image: url(../images/hero/error.png);
  }
}
