/* IMAGES
-------------------------------------------------- */
img {
  @include img-responsive;
}


/* TEXT
-------------------------------------------------- */
.text-small {
  font-size: $font-size-small;
}

.text-large {
  font-size: $font-size-large;
}


/* SOCIAL LINKS
-------------------------------------------------- */
.social {
  a {
    &.dribbble {
      color: #ea4c89;

      &:hover,
      &:focus {
        color: darken(#ea4c89, 10%);
      }
    }

    &.facebook {
      color: #3b5998;

      &:hover,
      &:focus {
        color: darken(#3b5998, 10%);
      }
    }

    &.github {
      color: #000000;

      &:hover,
      &:focus {
        color: darken(#000000, 10%);
      }
    }

    &.instagram {
      color: #675144;

      &:hover,
      &:focus {
        color: darken(#675144, 10%);
      }
    }

    &.linkedin {
      color: #007bb5;

      &:hover,
      &:focus {
        color: darken(#007bb5, 10%);
      }
    }

    &.twitter {
      color: #55acee;

      &:hover,
      &:focus {
        color: darken(#55acee, 10%);
      }
    }
  }
}
