/* HERO
-------------------------------------------------- */
.jumbo-header {
  margin-top: 65px;
  text-align: center;
  padding: 150px 0;
  @include transition(all .2s ease-in-out);
  margin-bottom: 0;

  @media (max-width: $screen-md) {
    padding: 50px 0 100px;
  }

  @media (max-width: $screen-lg) {
    padding: 100px 0 100px;
  }

  a {
    color: $white;

    &:hover,
    &:focus {
      color: $gray-darker;
    }
  }

  @each $section in error family home page post stuff {
    &.hero-#{$section} {
      background-position: center center;
      background-size: cover;
      background-image: url('../images/hero/#{$section}.png');
    }
  }
}
