/* HAMBURGER MENU
-------------------------------------------------- */
ul.hamburger-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 5;
  background-color: $banana;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0s, opacity 0.3s);

  &.fade-in {
    visibility: visible;
    opacity: 1;
  }

  li {
    margin: 10px 0;
    text-align: center;

    &.logo {
      a {
        display: inline-block;
      }

      img {
        @include transition(all .2s ease-in-out);
        margin: 0 auto;

        @media (max-width: $screen-md) {
          @include square(50%);
        }
      }
    }

    &.section {
      margin-top: 30px;
      text-align: center;
      position: relative;
      z-index: 1;

      &:before {
        border-top: 1px solid $gray-base;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        z-index: -1;
      }

      span {
        background: $banana;
        padding: 0 15px;
      }
    }
  }

  a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include transition(color 0.2s);
    color: $gray-base;
    font-size: 125%;

    @media (min-width: $screen-sm) {
      font-size: 150%;
    }

    @media (min-width: $screen-md) {
      font-size: 175%;
    }

    @media (min-width: $screen-lg) {
      font-size: 200%;
    }
  }
}


/* HAMBURGER OVERLAY
-------------------------------------------------- */
.cd-overlay-nav,
.cd-overlay-content {
  position: fixed;
  @include square(4px);
  top: 15px;
  right: 15px;
  transform: translateX(-15px) translateY(15px);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    @include transition(opacity .3s 0s, visibility 0s .3s);
  }

  span {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    transform-origin: 50% 50%;
    transform: scale(0);
  }
}

.cd-overlay-nav {
  z-index: 4;

  span {
    background-color: $mustard;
  }
}

.cd-overlay-content {
  z-index: 6;

  span {
    background-color: $white;
  }
}
