/* ABOUT
-------------------------------------------------- */
.about-title {
  font-family: 'Lily Script One';
  font-size: 200%;
  text-align: center;
  padding: 35px 0;

  @media (min-width: $screen-md) {
    padding-top: 0;
  }

  &.about-title-earlies { }

  &.about-title-college { }

  &.about-title-twenties { }

  &.about-title-boys { }

  &.about-title-ronna { }

  &.about-title-dogs { }
}
