<nav>
  <ul class="pager">
    <li class="previous {% unless page.previous %}disabled{% endunless %}"><a href="{{ page.previous.url | prepend: site.baseurl }}" title="{{ page.previous.title }}"><span aria-hidden="true" class="caret-left">&larr;</span> Older Post</a></li>
    <li class="next {% unless page.next %}disabled{% endunless %}"><a href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title }}">Newer Post <span aria-hidden="true" class="caret-right">&rarr;</span></a></li>
  </ul>
</nav>
