<!--[if lte IE 10]>
<div id="iealert" class="alert alert-warning" role="alert">
  <p>
    <span class="bold">Warning:</span> We do not support the <a href="http://en.wikipedia.org/wiki/Web_browser" title="What is a web browser, you ask?" class="help">web browser</a> you are using, and cannot guarantee a problem free experience. Please upgrade to one of these modern web browsers (they're free):
  </p>

  <ul class="text-center list-inline">
    <li class="firefox"><a href="http://www.mozilla.com/en-US/firefox/firefox.html" title="Download Firefox for Windows, Mac OS X, and Linux"><i class="fa fa-firefox"></i>Mozilla Firefox</a></li>
    <li class="safari"><a href="http://www.apple.com/safari/" title="Download Safari for Mac OS X and Windows"><i class="fa fa-safari"></i>Apple Safari</a></li>
    <li class="chrome"><a href="http://www.google.com/chrome?brand=CHFV" title="Download Google Chrome for Windows, Mac OS X, and Linux"><i class="fa fa-chrome"></i>Google Chrome</a></li>
    <li class="ie"><a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx" title="Download a newer Internet Explorer Windows"><i class="fa fa-internet-explorer"></i>Internet Explorer</a></li>
  </ul>
</div>
<![endif]-->
