{% if "post" == page.type %}
<meta itemscope="name" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
<meta itemscope="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta itemscope="image" content="{{ "/icons/social/schema.png" | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "{{ site.title }}",
  "headline": "{{ page.title }}",
  "description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
}
</script>
