<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="wrap">
      {% include noscript.html %}
      {% include iealert.html %}

      {% include header.html %}

      {% include hero.html %}

      {% if page.subnav.section %}
        {% assign section = page.subnav.section | prepend: "navigation/" | append: ".html" %}
        {% assign active = page.subnav.active %}

        {% include {{ section }} active=active %}
      {% endif %}

      <main id="content" class="container">
        {{ content }}
      </main>

      {% include footer.html %}

      {% include foot.html %}
    </div>
  </body>
</html>
