<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="wrap">
      {% include noscript.html %}
      {% include iealert.html %}

      {% include header.html %}

      {% if page.type == "list" %}
      <div class="jumbotron">
        <div class="container">
          <h1>Howdy, I'm Josh Boyd</h1>

          <h2>I'm a Sr UX Designer, family man <span class="amp">&amp;</span> lover of the outdoors</h2>
        </div>
      </div>
      {% endif %}

      <div id="content" class="container">
        {{ content }}
      </div>

      {% include footer.html %}

      {% include foot.html %}
    </div>
  </body>
</html>
