---
layout: default
---

<div class="page-header" itemprop="name headline">
  <h1>{{ page.title }}</h1>
</div>

<article class="row post-full" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="col-xs-12">
    <div id="pagination-top">
      {% include posts/pager.html %}
    </div>

    {% if page.highlight %}
      <img src="{{ page.highlight | prepend: site.baseurl }}">
    {% endif %}

    <div class="date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </div>

    <div class="content" itemprop="articleBody">
      {{ content }}
    </div>

    <div id="pagination-bottom">
      {% include posts/pager.html %}
    </div>

    {% if page.comments %}
      {% include posts/comments.html %}
    {% endif %}
  </div>
</article>
