{% comment %}
  Usage:
    id:     YouTube URL ID
    width:  Width of the video. Default 640.
    height: Height of the video. Default 480.
    align:  Alignment. Options are left, right, center. Default center.

    {% include videos/youtube.html id="dQw4w9WgXcQ" %}

    Example:
    {% include videos/youtube.html id="dQw4w9WgXcQ" width="100" height="100" align="right" %}

{% endcomment %}
<aside class="video video-youtube text-{{ include.align | default: 'center' }}">
  <iframe src="http://www.youtube.com/embed/{{ include.id | default: 'dQw4w9WgXcQ' }}"
          width="{{ include.width | default: '640' }}"
          height="{{ include.height | default: '480' }}"
          frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</aside>
